@inject ICurrentUserService CurrentUser

<div class="x-shell__rail-content">
    <a class="x-shell__rail-link" href="/profile/@CurrentUser.ProfileId">
        <img src="@(CurrentUser.AvatarUrl ?? "/img/default-avatar.png")" 
             alt="@CurrentUser.DisplayName" 
             class="rounded-circle" width="32" height="32"
             onerror="this.onerror=null; this.src='/img/default-avatar.png';" />
        <span>@CurrentUser.DisplayName</span>
    </a>

    <div class="x-shell__rail-heading">Primary</div>
    <nav class="x-shell__rail-nav" aria-label="Primary shortcuts">
        <a class="x-shell__rail-link" href="/friends">
            <i class="fas fa-user-friends"></i>Friends
        </a>
        <a class="x-shell__rail-link" href="/messages">
            <i class="fas fa-comment-dots"></i>Messages
        </a>
        <a class="x-shell__rail-link" href="/">
            <i class="fas fa-newspaper"></i>News Feed
        </a>
    </nav>
</div>
